/* styles/globals.css */
@import 'tailwindcss';

:root {
  --dark-bg: #241300;
  --light-bg: #ffffff;
  --accent: #c17c54; /* coffee brown */
  --secondary-accent: #f4e1d2; /* warm cream */
  --dark-text: #241300;
  --light-text: #f9f9f9;
}

/* Apply base styles */
body {
  background-color: var(--secondary-accent);
  color: var(--dark-text);
}

/* Optional: Define custom utilities or override Tailwind defaults */
@layer utilities {
  .text-accent {
    color: var(--accent);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .text-secondary-accent {
    color: var(--secondary-accent);
  }
  .bg-secondary-accent {
    background-color: var(--secondary-accent);
  }
  .text-dark-text {
    color: var(--dark-text);
  }
  .text-light-text {
    color: var(--light-text);
  }
  .bg-dark-bg {
    background-color: var(--dark-bg);
  }
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}